{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}" defer></script>
    <script src="{% static 'js/notificacion.js' %}" defer></script>
    <title>Dimensionador</title>
</head>
<body>
    <header> 
      <div class="logo">
        <img src="{% static '/images/logo.png' %}" alt="Logo de Dimensionador" width="80" height="80">
        <h1>CubiScan</h1>
      </div>
      <div class="user">
        <p style="font-size: 1.5rem;">{{ user.username }}Javier Lizama</p>
        <p id="current-time" style="font-size: 1.5rem; margin-top: -1rem;"></p>
      </div>
    </header>
    <nav class="nav flex-column">
        <a class="nav-link active" href="#"></a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link disabled" href="#"></a>
      </nav>
    <section>
      <form method="post" action="{% url 'guardar_dimensiones' %}">
        {% csrf_token %}
        <div class="lpn">
          <div class="card clpn border-dark mb-3">
              <div class="card-header">LPN</div>
              <div class="card-body">
                  <input type="text" class="card-text custom-input" id="lpncard" name="lpn" style="font-size: 2rem;" required>
              </div>
          </div>
          <div class="fcamara">
              <img class="camara" src="{% url 'video_feed' %}" width="320" height="240">
          </div>
      </div>
  
      <div class="cards">
          <div class="card border-dark mb-3">
              <div class="card-header">Largo</div>
              <div class="card-body">
                  <input type="text" class="card-text custom-input" id="largo" name="largo" style="font-size: 4.5rem;" required>
              </div>
          </div>
          <div class="card border-dark mb-3">
              <div class="card-header">Ancho</div>
              <div class="card-body">
                  <input type="text" class="card-text custom-input" id="ancho" name="ancho" style="font-size: 4.5rem;" required>
              </div>
          </div>
          <div class="card border-dark mb-3">
              <div class="card-header">Altura</div>
              <div class="card-body">
                  <input type="text" class="card-text custom-input" id="altura" name="alto" style="font-size: 4.5rem;" required>
              </div>
          </div>
      </div>
       
</section>
    <aside>
      <div class="d-grid gap-2 col-6 mx-auto botones">
        <button class="btn btn-primary" type="button" id="leerLpnBtn">Leer LPN</button>
        <button class="btn btn-primary" type="button" id="dimensionarBtn">Dimensionar</button>
        <button class="btn btn-primary" type="button" id="escaneoCompletoBtn">Escaneo Completo</button>
    </div>
        <div class="d-grid gap-2 col-6 mx-auto botones">
            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-primary" type="button" id="limpiarBtn">Limpiar</button>
          </div>
    </aside>
  </form>
    <footer>
        <p>© 2024 Dimensionador. Todos los derechos reservados.</p>
    </footer>

    <div id="notification" class="notification hidden">
      <p id="notification-message"></p>
  </div>

</body>

</html>
